body {
    background-color: rgb(205, 205, 205);
}

.wrapper {
    display: inline-block;
    width: 100%;
    .main {
        display: flex;
        justify-content: center;
        width: 100%;
        .main__wrap {
            display: inline-block;
            width: 100%;
            h1 {
                margin-top: 20px;
                font-size: 20px;
                font-weight: bold;
            }
            p {
                margin: 15px 0px;
            }
            .img {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding: 5px;
                border: 1px solid black;
                gap: 4px;
                margin-bottom: 20px;
                min-height: 400px;
                .img__wrap {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    background: url('../IMG/giphy.gif');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    img {
                        width: 100%;
                    }
                }
            }
            .maps {
                display: inline-block;
                width: 100%;
                min-height: 400px;
                margin-bottom: 20px;
                padding: 5px;
                border: 1px solid black;
                background: url('../IMG/giphy.gif');
                background-position: center center;
                background-size: cover;
                iframe {
                    width: 100%;
                }
            }
            .more {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.load--icon {
    background: url('../IMG/giphy.gif') left / 50px no-repeat;
    height: 50px;
    margin-left: calc(25% - 12px);
}

.container {
    display: inline-block;
    width: 1000px;
}